In [136]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [137]:
hecuba = pd.read_excel(r"C:\Users\小鱼i喝冰美式\Desktop\Data Portfolio\Dataset\Hecuba RFM.xlsx")
hecuba

,cust_id,revenue,days_elapsed,transactions,last_visit,email_offer,redeemed
0,2BUITAME,33.6,41,5,2022-04-19,1,0
1,5VGEGIL4,122.9,21,12,2022-05-09,1,0
2,OLL4YGB1,64.1,41,9,2022-04-19,0,0
3,N5A016BF,79.3,16,7,2022-05-14,0,0
4,ZOE8S5I4,180.4,35,18,2022-04-25,0,0
...,...,...,...,...,...,...,...
5850,4CVTK47W,91.7,36,10,2022-04-24,0,0
5851,KPH086R6,112.4,18,13,2022-05-12,1,0
5852,WO0XBWZP,123.6,47,10,2022-04-13,0,0
5853,LT2IL8KW,156.2,49,11,2022-04-11,0,0
5854,51RM7HJZ,99.8,29,10,2022-05-01,0,0

In [138]:
hecuba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5855 entries, 0 to 5854
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   cust_id       5855 non-null   object
 1   revenue       5855 non-null   float64
 2   days_elapsed  5855 non-null   int64
 3   transactions  5855 non-null   int64
 4   last_visit    5855 non-null   datetime64[ns]
 5   email_offer   5855 non-null   int64
 6   redeemed      5855 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(4), object(1)
memory usage: 320.3+ KB

In [139]:
hecuba.isnull().sum()

cust_id         0
revenue         0
days_elapsed    0
transactions    0
last_visit      0
email_offer     0
redeemed        0
dtype: int64

In [140]:
hecuba.describe()

,revenue,days_elapsed,transactions,last_visit,email_offer,redeemed
count,5855.000000,5855.000000,5855.000000,5855,5855.000000,5855.000000
mean,102.743467,32.744663,10.754910,2022-04-27 06:07:41.144321024,0.201025,0.034842
min,14.600000,0.000000,2.000000,2022-04-02 00:00:00,0.000000,0.000000
25%,77.450000,19.000000,9.000000,2022-04-13 00:00:00,0.000000,0.000000
50%,99.800000,34.000000,11.000000,2022-04-26 00:00:00,0.000000,0.000000
75%,125.300000,47.000000,13.000000,2022-05-11 00:00:00,0.000000,0.000000
max,256.800000,58.000000,23.000000,2022-05-30 00:00:00,1.000000,1.000000
std,34.810986,16.680847,3.072445,NaN,0.400801,0.183395

In [141]:
# Score Customer by RFM Model with a PercentileRanking Logic
hecuba['Monetary_Percentile'] = hecuba['revenue'].rank(pct=True)*100
hecuba['Recency_Percentile'] = hecuba['days_elapsed'].rank(pct=True)*100
hecuba['Frequency_Percentile'] = hecuba['transactions'].rank(pct=True)*100
hecuba

,cust_id,revenue,days_elapsed,transactions,last_visit,email_offer,redeemed,Monetary_Percentile,Recency_Percentile,Frequency_Percentile
0,2BUITAME,33.6,41,5,2022-04-19,1,0,1.050384,62.271563,2.083689
1,5VGEGIL4,122.9,21,12,2022-05-09,1,0,73.074295,27.830914,67.233134
2,OLL4YGB1,64.1,41,9,2022-04-19,0,0,12.783945,62.271563,29.931682
3,N5A016BF,79.3,16,7,2022-05-14,0,0,26.874466,20.623399,10.922289
4,ZOE8S5I4,180.4,35,18,2022-04-25,0,0,97.719898,50.964987,98.437233
...,...,...,...,...,...,...,...,...,...,...
5850,4CVTK47W,91.7,36,10,2022-04-24,0,0,40.631939,52.681469,42.023911
5851,KPH086R6,112.4,18,13,2022-05-12,1,0,63.578138,23.518360,77.173356
5852,WO0XBWZP,123.6,47,10,2022-04-13,0,0,73.731853,74.782237,42.023911
5853,LT2IL8KW,156.2,49,11,2022-04-11,0,0,92.621691,78.539710,55.064048
5854,51RM7HJZ,99.8,29,10,2022-05-01,0,0,50.042699,40.341588,42.023911

In [142]:
hecuba.describe()

,revenue,days_elapsed,transactions,last_visit,email_offer,redeemed,Monetary_Percentile,Recency_Percentile,Frequency_Percentile
count,5855.000000,5855.000000,5855.000000,5855,5855.000000,5855.000000,5855.000000,5855.000000,5855.000000
mean,102.743467,32.744663,10.754910,2022-04-27 06:07:41.144321024,0.201025,0.034842,50.008540,50.008540,50.008540
min,14.600000,0.000000,2.000000,2022-04-02 00:00:00,0.000000,0.000000,0.017079,0.495303,0.025619
25%,77.450000,19.000000,9.000000,2022-04-13 00:00:00,0.000000,0.000000,25.034159,24.842015,29.931682
50%,99.800000,34.000000,11.000000,2022-04-26 00:00:00,0.000000,0.000000,50.042699,49.103330,55.064048
75%,125.300000,47.000000,13.000000,2022-05-11 00:00:00,0.000000,0.000000,75.038429,74.782237,77.173356
max,256.800000,58.000000,23.000000,2022-05-30 00:00:00,1.000000,1.000000,100.000000,98.795901,99.974381
std,34.810986,16.680847,3.072445,NaN,0.400801,0.183395,28.869961,28.865078,28.728238

In [143]:
# Define Function for Score Monetary PercentileRank
def monetary_score(monetary):
    if 0 <= monetary <= 25:
        return 1
    elif 25 < monetary <= 50:
        return 2
    elif 50 < monetary <= 75:
        return 3
    elif 75 < monetary <= 100:
        return 4

hecuba['Monetary_Score'] = hecuba['Monetary_Percentile'].apply(monetary_score)
hecuba

,cust_id,revenue,days_elapsed,transactions,last_visit,email_offer,redeemed,Monetary_Percentile,Recency_Percentile,Frequency_Percentile,Monetary_Score
0,2BUITAME,33.6,41,5,2022-04-19,1,0,1.050384,62.271563,2.083689,1
1,5VGEGIL4,122.9,21,12,2022-05-09,1,0,73.074295,27.830914,67.233134,3
2,OLL4YGB1,64.1,41,9,2022-04-19,0,0,12.783945,62.271563,29.931682,1
3,N5A016BF,79.3,16,7,2022-05-14,0,0,26.874466,20.623399,10.922289,2
4,ZOE8S5I4,180.4,35,18,2022-04-25,0,0,97.719898,50.964987,98.437233,4
...,...,...,...,...,...,...,...,...,...,...,...
5850,4CVTK47W,91.7,36,10,2022-04-24,0,0,40.631939,52.681469,42.023911,2
5851,KPH086R6,112.4,18,13,2022-05-12,1,0,63.578138,23.518360,77.173356,3
5852,WO0XBWZP,123.6,47,10,2022-04-13,0,0,73.731853,74.782237,42.023911,3
5853,LT2IL8KW,156.2,49,11,2022-04-11,0,0,92.621691,78.539710,55.064048,4
5854,51RM7HJZ,99.8,29,10,2022-05-01,0,0,50.042699,40.341588,42.023911,3

In [144]:
# Define Function for Score Recency PercentileRank
def recency_score(recency):
    if 0 <= recency <= 25:
        return 4
    elif 25 < recency <= 50:
        return 3
    elif 50 < recency <= 75:
        return 2
    elif 75 < recency <= 100:
        return 1

hecuba['Recency_Score'] = hecuba['Recency_Percentile'].apply(recency_score)
hecuba

,cust_id,revenue,days_elapsed,transactions,last_visit,email_offer,redeemed,Monetary_Percentile,Recency_Percentile,Frequency_Percentile,Monetary_Score,Recency_Score
0,2BUITAME,33.6,41,5,2022-04-19,1,0,1.050384,62.271563,2.083689,1,2
1,5VGEGIL4,122.9,21,12,2022-05-09,1,0,73.074295,27.830914,67.233134,3,3
2,OLL4YGB1,64.1,41,9,2022-04-19,0,0,12.783945,62.271563,29.931682,1,2
3,N5A016BF,79.3,16,7,2022-05-14,0,0,26.874466,20.623399,10.922289,2,4
4,ZOE8S5I4,180.4,35,18,2022-04-25,0,0,97.719898,50.964987,98.437233,4,2
...,...,...,...,...,...,...,...,...,...,...,...,...
5850,4CVTK47W,91.7,36,10,2022-04-24,0,0,40.631939,52.681469,42.023911,2,2
5851,KPH086R6,112.4,18,13,2022-05-12,1,0,63.578138,23.518360,77.173356,3,4
5852,WO0XBWZP,123.6,47,10,2022-04-13,0,0,73.731853,74.782237,42.023911,3,2
5853,LT2IL8KW,156.2,49,11,2022-04-11,0,0,92.621691,78.539710,55.064048,4,1
5854,51RM7HJZ,99.8,29,10,2022-05-01,0,0,50.042699,40.341588,42.023911,3,3

In [145]:
# Define Function for Score Frequency PercentileRank
def frequency_score(frequency):
    if 0 <= frequency <= 25:
        return 1
    elif 25 < frequency <= 50:
        return 2
    elif 50 < frequency <= 75:
        return 3
    elif 75 < frequency <= 100:
        return 4


hecuba['Frequency_Score'] = hecuba['Frequency_Percentile'].apply(frequency_score)
hecuba

,cust_id,revenue,days_elapsed,transactions,last_visit,email_offer,redeemed,Monetary_Percentile,Recency_Percentile,Frequency_Percentile,Monetary_Score,Recency_Score,Frequency_Score
0,2BUITAME,33.6,41,5,2022-04-19,1,0,1.050384,62.271563,2.083689,1,2,1
1,5VGEGIL4,122.9,21,12,2022-05-09,1,0,73.074295,27.830914,67.233134,3,3,3
2,OLL4YGB1,64.1,41,9,2022-04-19,0,0,12.783945,62.271563,29.931682,1,2,2
3,N5A016BF,79.3,16,7,2022-05-14,0,0,26.874466,20.623399,10.922289,2,4,1
4,ZOE8S5I4,180.4,35,18,2022-04-25,0,0,97.719898,50.964987,98.437233,4,2,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5850,4CVTK47W,91.7,36,10,2022-04-24,0,0,40.631939,52.681469,42.023911,2,2,2
5851,KPH086R6,112.4,18,13,2022-05-12,1,0,63.578138,23.518360,77.173356,3,4,4
5852,WO0XBWZP,123.6,47,10,2022-04-13,0,0,73.731853,74.782237,42.023911,3,2,2
5853,LT2IL8KW,156.2,49,11,2022-04-11,0,0,92.621691,78.539710,55.064048,4,1,3
5854,51RM7HJZ,99.8,29,10,2022-05-01,0,0,50.042699,40.341588,42.023911,3,3,2

In [146]:
# Create a column storing the Customers' scores in Recency, Frequency, and Monetary for Labeling RFM Group
hecuba['RFM_Group'] = hecuba['Recency_Score'].astype(str) + hecuba['Frequency_Score'].astype(str) + hecuba['Monetary_Score'].astype(str)
hecuba['RFM_Group']

0       211
1       333
2       221
3       412
4       244
       ...
5850    222
5851    443
5852    223
5853    134
5854    323
Name: RFM_Group, Length: 5855, dtype: object

In [147]:
hecuba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5855 entries, 0 to 5854
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   cust_id               5855 non-null   object
 1   revenue               5855 non-null   float64
 2   days_elapsed          5855 non-null   int64
 3   transactions          5855 non-null   int64
 4   last_visit            5855 non-null   datetime64[ns]
 5   email_offer           5855 non-null   int64
 6   redeemed              5855 non-null   int64
 7   Monetary_Percentile   5855 non-null   float64
 8   Recency_Percentile    5855 non-null   float64
 9   Frequency_Percentile  5855 non-null   float64
 10  Monetary_Score        5855 non-null   int64
 11  Recency_Score         5855 non-null   int64
 12  Frequency_Score       5855 non-null   int64
 13  RFM_Group             5855 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(7), object(2)
memory usage: 640.5+ KB

In [148]:
# Aggregate Statistics for Exploring RFM Group Coupon Return Rate and corresponding generated revenue
hecuba_rfm = hecuba.groupby('RFM_Group')[['email_offer','redeemed','revenue']].sum().reset_index()
hecuba_rfm['conv_rate'] = hecuba_rfm['redeemed']/hecuba_rfm['email_offer'] * 100
hecuba_rfm

   RFM_Group  email_offer  redeemed  revenue  conv_rate
0        111           54         9  15002.1  16.666667
1        112            8         2   6682.5  25.000000
2        113            4         0   1712.1   0.000000
3        121           20         2   5244.8  10.000000
4        122           29         8  14418.5  27.586207
5        123           16         2   8071.9  12.500000
6        124            3         1   1598.8  33.333333
7        131            2         1   1450.5  50.000000
8        132           27         2   8858.6   7.407407
9        133           25         5  16467.3  20.000000
10       134           15         1  10065.3   6.666667
11       141            0         0     74.6        NaN
12       142            7         1   2394.2  14.285714
13       143           24         5  10556.4  20.833333
14       144           67        16  41406.1  23.880597
15       211           46         8  14960.0  17.391304
16       212           14         1   5761.7   7.142857
17       213            4         0   1464.5   0.000000
18       221           23         4   6563.7  17.391304
19       222           32         8  15238.7  25.000000
20       223           15         3  11547.1  20.000000
21       224            2         0   1073.0   0.000000
22       231            2         1    949.9  50.000000
23       232           15         1   7391.6   6.666667
24       233           41         2  21258.0   4.878049
25       234           12         3  10770.1  25.000000
26       241            0         0    138.6        NaN
27       242            6         0   2203.6   0.000000
28       243           20         4  11274.1  20.000000
29       244           67        12  47959.5  17.910448
30       311           53         9  15710.1  16.981132
31       312           15         1   6997.7   6.666667
32       313            1         0   1606.4   0.000000
33       321           14         3   5454.8  21.428571
34       322           28         4  13842.4  14.285714
35       323           19         2   8448.0  10.526316
36       324            4         0   2604.8   0.000000
37       331            4         0   1249.0   0.000000
38       332           17         1   9697.6   5.882353
39       333           32         6  16235.1  18.750000
40       334           18         3  10362.2  16.666667
41       341            0         0     77.3        NaN
42       342           11         2   2375.6  18.181818
43       343           20         2  11162.0  10.000000
44       344           59         5  40663.9   8.474576
45       411           41         7  15327.1  17.073171
46       412           19         6   7748.7  31.578947
47       413            3         1   1532.4  33.333333
48       421           12         5   6192.8  41.666667
49       422           39         9  15378.3  23.076923
50       423           21         5  10239.4  23.809524
51       424            5         1   1845.5  20.000000
52       431            0         0    942.8        NaN
53       432           17         6   9114.3  35.294118
54       433           41         8  20479.4  19.512195
55       434           12         2  11317.9  16.666667
56       441            0         0     70.4        NaN
57       442            5         0   1905.0   0.000000
58       443           19         6  11575.6  31.578947
59       444           48         8  38848.7  16.666667

In [149]:
# Calculate Targeting RFM Group share out of all RFM Group that has a Coupon Return Rate exceeding 17% 
Target_rfm_share = hecuba_rfm[hecuba_rfm['conv_rate'] > 17]['RFM_Group'].count()/hecuba_rfm['RFM_Group'].count()*100
Target_rfm_share

46.666666666666664

In [150]:
# Calculate Targeting RFM Group Coupon Redemptation Share out of all Redeemed Coupons
Target_rfm_Redemptation_share = hecuba_rfm[hecuba_rfm['conv_rate']>17]['redeemed'].sum()/hecuba_rfm['redeemed'].sum()*100
Target_rfm_Redemptation_share

71.56862745098039

In [151]:
# Calculate Targeting RFM Group Coupon Redemptation Rate
Target_rfm_Redemptation = hecuba_rfm[hecuba_rfm['conv_rate']>17]['redeemed'].sum()/hecuba_rfm[hecuba_rfm['conv_rate']>17]['email_offer'].sum()*100
Target_rfm_Redemptation

22.496147919876734

In [152]:
# Based on 70 more available coupons to be used, calculate total additional email offers needed to be sent
Additional_Email_Offer = round(70/Target_rfm_Redemptation * 100,0)
Additional_Email_Offer

311.0

In [153]:
# Calculate current total email offers sent to the Targetting RFM Group
Current_Email_Offer = hecuba_rfm[hecuba_rfm['conv_rate']>17]['email_offer'].sum()
Current_Email_Offer

649

In [154]:
# Additional Email_Offer increase trend
Email_Offer_Increase = Additional_Email_Offer/Current_Email_Offer*100
Email_Offer_Increase

47.919876733436055

In [155]:
# Prepare data for calculating Average Revenue Per Customer in Targetting RFM Group
hecuba_rfm_rev = hecuba.groupby('RFM_Group')[['email_offer','revenue']].agg({
    'email_offer': 'count',
    'revenue': 'sum'
}).reset_index().rename(columns={'email_offer':'Total_Customer'})
hecuba_rfm_rev

   RFM_Group  Total_Customer  revenue
0        111             253  15002.1
1        112              78   6682.5
2        113              16   1712.1
3        121              78   5244.8
4        122             163  14418.5
5        123              74   8071.9
6        124              12   1598.8
7        131              21   1450.5
8        132              98   8858.6
9        133             147  16467.3
10       134              73  10065.3
11       141               1     74.6
12       142              26   2394.2
13       143              92  10556.4
14       144             271  41406.1
15       211             255  14960.0
16       212              67   5761.7
17       213              14   1464.5
18       221              96   6563.7
19       222             173  15238.7
20       223             105  11547.1
21       224               8   1073.0
22       231              14    949.9
23       232              81   7391.6
24       233             189  21258.0
25       234              79  10770.1
26       241               2    138.6
27       242              24   2203.6
28       243              99  11274.1
29       244             314  47959.5
30       311             274  15710.1
31       312              81   6997.7
32       313              15   1606.4
33       321              81   5454.8
34       322             155  13842.4
35       323              78   8448.0
36       324              20   2604.8
37       331              18   1249.0
38       332             107   9697.6
39       333             145  16235.1
40       334              75  10362.2
41       341               1     77.3
42       342              26   2375.6
43       343              98  11162.0
44       344             262  40663.9
45       411             265  15327.1
46       412              89   7748.7
47       413              14   1532.4
48       421              91   6192.8
49       422             174  15378.3
50       423              94  10239.4
51       424              14   1845.5
52       431              13    942.8
53       432             100   9114.3
54       433             182  20479.4
55       434              83  11317.9
56       441               1     70.4
57       442              21   1905.0
58       443             101  11575.6
59       444             254  38848.7

In [156]:
# Prepare data for calculating Average Revenue Per Customer in Targetting RFM Group
filtered_group = hecuba_rfm_rev[hecuba_rfm_rev['RFM_Group'].isin(hecuba_rfm[hecuba_rfm['conv_rate']>17]['RFM_Group'])]
filtered_group

   RFM_Group  Total_Customer  revenue
1        112              78   6682.5
4        122             163  14418.5
6        124              12   1598.8
7        131              21   1450.5
9        133             147  16467.3
13       143              92  10556.4
14       144             271  41406.1
15       211             255  14960.0
18       221              96   6563.7
19       222             173  15238.7
20       223             105  11547.1
22       231              14    949.9
25       234              79  10770.1
28       243              99  11274.1
29       244             314  47959.5
33       321              81   5454.8
39       333             145  16235.1
42       342              26   2375.6
45       411             265  15327.1
46       412              89   7748.7
47       413              14   1532.4
48       421              91   6192.8
49       422             174  15378.3
50       423              94  10239.4
51       424              14   1845.5
53       432             100   9114.3
54       433             182  20479.4
58       443             101  11575.6

In [157]:
# Calculate Average Revenue per Customer in Targetting Group
avg_rev_per_customer = filtered_group['revenue'].sum()/filtered_group['Total_Customer'].sum()
avg_rev_per_customer

101.77305007587253

In [158]:
# Calculate Current Total Revenue among Targetting Group
total_rev = filtered_group['revenue'].sum()
total_rev

335342.2

In [159]:
# If 50% coupon redeemed by improved campaign backed by RFM Analysis
safe_projected_rev = 0.5*70*avg_rev_per_customer
safe_projected_rev

3562.0567526555387

In [160]:
# If 100% coupon redeemed by improved campaign backed by RFM Analysis
match_projected_rev = 70*avg_rev_per_customer
match_projected_rev

7124.1135053110775

In [161]:
# If 150% coupon redeemed by improved campaign backed by RFM Analysis (this will exceed the limit of available coupons for redemptation (204))
reach_projected_rev = 1.5*70*avg_rev_per_customer
reach_projected_rev

10686.170257966616

In [162]:
# Prepare for final projected outcome table
net_safe = total_rev + safe_projected_rev
net_match = total_rev + match_projected_rev
net_reach = total_rev + reach_projected_rev

In [163]:
Projected_Return = {
    'safe':[35,safe_projected_rev,net_safe],
    'match':[70,match_projected_rev,net_match],
    'reach':[105,reach_projected_rev,net_reach]
}
Projected_Return

{'safe': [35, 3562.0567526555387, 338904.25675265555],
 'match': [70, 7124.1135053110775, 342466.3135053111],
 'reach': [105, 10686.170257966616, 346028.3702579666]}

In [164]:
Projected_Return_ct = pd.DataFrame(Projected_Return, index=['Coupon Redemptation','Projected Revenue', 'Net Revenue'])
Projected_Return_ct

                              safe          match          reach
Coupon Redemptation      35.000000      70.000000     105.000000
Projected Revenue      3562.056753    7124.113505   10686.170258
Net Revenue          338904.256753  342466.313505  346028.370258